/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./styles/Logo.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css?family=Bangers|Cinzel:400,700,900|Lato:100,300,400,700,900|Lobster|Lora:400,700|Mansalva|Muli:200,300,400,600,700,800,900|Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700|Roboto:100,300,400,500,700,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.logo-3 h2 {
  color: #e74c3c;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 50px;
  line-height: 1.3;
}

.logo-3 p {
  font-size: 14px;
  letter-spacing: 7px;
  text-transform: uppercase;
  background: #34495e;
  font-weight: 400;
  color: #fff;
  padding-left: 5px;
}
@keyframes ring {
  0% {
    transform: rotate(-15deg);
  }
  2% {
    transform: rotate(15deg);
  }
  4% {
    transform: rotate(-18deg);
  }
  6% {
    transform: rotate(18deg);
  }
  8% {
    transform: rotate(-22deg);
  }
  10% {
    transform: rotate(22deg);
  }
  12% {
    transform: rotate(-18deg);
  }
  14% {
    transform: rotate(18deg);
  }
  16% {
    transform: rotate(-12deg);
  }
  18% {
    transform: rotate(12deg);
  }
  100%, 20% {
    transform: rotate(0);
  }
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./styles/Loader.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader-inner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./styles/Navbar.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
:export {
  pinkred: #f8395a;
  blue: #24355a;
  lightgrey: #F6F6F6;
  grey: #bdb9b9;
  darkgrey: #918F8E;
  lightblue: #D9DFE8;
}

.navbar {
  padding: 15px 80px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 480px) {
  .navbar {
    padding: 10px;
  }
}
.navbar img {
  width: 100px;
  cursor: pointer;
}
.navbar_search {
  border: 1px solid #bdb9b9;
  border-radius: 30px;
  height: 50px;
  padding: 0px 20px;
  display: flex;
  gap: 40px;
  align-items: center;
}
.navbar_search input {
  border: none;
  outline: none;
}
.navbar_search:hover {
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1000px) {
  .navbar_search {
    display: none;
  }
}
.navbar_right {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 480px) {
  .navbar_right {
    gap: 0px;
  }
}
.navbar_right .cart {
  margin: 0;
  border: 1px solid #bdb9b9;
  padding: 5px 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.navbar_right .cart span {
  font-weight: 700;
}
.navbar_right_account {
  display: flex;
  align-items: center;
  border: none;
  display: flex;
  gap: 10px;
  background-color: white;
  cursor: pointer;
}
.navbar_right_account img {
  width: 40px;
}
.navbar_right_accountmenu {
  position: absolute;
  background-color: white;
  right: 60px;
  top: 100px;
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 10px 0;
  border: 1px solid #F6F6F6;
  border-radius: 20px;
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
@media (max-width: 480px) {
  .navbar_right_accountmenu {
    right: 20px;
  }
}
.navbar_right_accountmenu a {
  padding: 8px 15px;
  text-decoration: none;
  color: black;
  font-weight: 700;
  cursor: pointer;
}
.navbar_right_accountmenu a:hover {
  color: #f8395a;
  background-color: rgba(217, 213, 213, 0.2);
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./styles/WorkList.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
:export {
  pinkred: #f8395a;
  blue: #24355a;
  lightgrey: #F6F6F6;
  grey: #bdb9b9;
  darkgrey: #918F8E;
  lightblue: #D9DFE8;
}

.work-list {
  padding: 0 0px 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 1000px) {
  .work-list {
    padding: 0 20px 120px;
  }
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./styles/WorkCard.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
:export {
  pinkred: #f8395a;
  blue: #24355a;
  lightgrey: #F6F6F6;
  grey: #bdb9b9;
  darkgrey: #918F8E;
  lightblue: #D9DFE8;
}

.work-card {
  position: relative;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}
.work-card:hover {
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2);
}
.work-card .slider-container {
  width: 360px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px;
}
.work-card .slider-container .slider {
  display: flex;
  transition: transform 0.5s ease;
}
.work-card .slider-container .slider .slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  height: 270px;
  display: flex;
  align-items: center;
}
.work-card .slider-container .slider .slide img {
  width: 100%;
  height: 100%;
}
.work-card .slider-container .slider .slide .prev-button,
.work-card .slider-container .slider .slide .next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 6px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 99;
}
.work-card .slider-container .slider .slide .prev-button:hover,
.work-card .slider-container .slider .slide .next-button:hover {
  background-color: white;
}
.work-card .slider-container .slider .slide .prev-button {
  left: 10px;
}
.work-card .slider-container .slider .slide .next-button {
  right: 10px;
}
.work-card .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
.work-card .info h3 {
  font-size: 18px;
  margin-bottom: 5px;
}
.work-card .info .creator {
  display: flex;
  align-items: center;
  gap: 5px;
}
.work-card .info .creator img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.work-card .info .creator span {
  font-size: 15px;
  font-weight: 600;
}
.work-card .info .price {
  background: #D9DFE8;
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 17px;
}
.work-card .icon {
  position: absolute;
  right: 20px;
  top: 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 999;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./styles/Search.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
:export {
  pinkred: #f8395a;
  blue: #24355a;
  lightgrey: #F6F6F6;
  grey: #bdb9b9;
  darkgrey: #918F8E;
  lightblue: #D9DFE8;
}

.title-list {
  margin: 40px 100px;
  color: #24355a;
}
@media (max-width: 480px) {
  .title-list {
    margin: 40px 50px;
  }
}
