.banner {
  width: 100vw;
  height: 25vh;
  background: linear-gradient(to bottom, #1a847a, #19947c, #87ceeb);
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;

  h1 {
    padding: 10px;
    max-width: 90%;
    font-size: 2.5vw;
    text-align: center;
    color: white;
  }

  /* Media Query for smaller screens */
  @media (max-width: 768px) {
    h1 {
      font-size: 6vw; /* Adjusted font size for smaller screens */
    }
  }
}
